# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeScripts/
Makefile
cmake-build-debug/
*.sln
*.vcxproj
*.vcproj

# Build output
build/
bin/

# Compiled files
*.o
*.obj
*.exe
*.out

# Visual Studio Code
.vscode/

# Visual Studio
.vs

# CLion
.idea

# Submodule directories
external/

# macOS specific files
.DS_Store

# Linux specific files
*.swp
*.swo

# Windows specific files
Thumbs.db

# ctags
tags

# Cache
.cache
